<header>
    <div id="container" class="md:flex py-2 items-center justify-between bg-white p-0 border-b-[#e72929]">
        <a href="/" class="text-3xl text-[#e72929] font-bold ml-2">TakeOut</a>
        <nav>
            <ul class="md:flex justify-between gap-4 items-center list-none">
                <li>
                    <a href="/login">Login</a>

                </li>
                <li id="menu-container">
                    <a href="/dashboard">John</a>
                    <div class="" id="menu"> 
                        <a href="/profile">Profile</a>
                        <a href="/orders">Orders</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/cart-page">Cart <button class="text-white rounded-[50%]  w-6 h-8 bg-red-400">3</button></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
